/* import font playfair from google */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* common styling */
* {
  font-family: "Playfair Display", serif;
  max-width: 1004px;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(63, 63, 63);
}

h3 {
  font-weight: 900;
  Font-size: 34px;
  color: white;
}

h4 {
  font-weight: 800;
  font-size: 1.58rem;
  color: white;
}

h5 {
  color: white;
  font-size: 13px;
  font-weight: 600;
}

p {
  font-size: .70rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

/* navbar section */

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 22px 133px;
  align-items: center;
}

.nav-bar h4 {
  color: rgb(230, 83, 60);
  font-weight: 800;
  font-size: 1.58rem;

}

.menus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.06rem;
}

.menus p {
  font-size: .79rem;
  cursor: pointer;
  color: whitesmoke;
}

.span {
  width: 4rem;
  height: 1.66rem;
  background-color: rgb(230, 83, 60);
  border-radius: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* <!-- hamburger menu for mobile device --> */
.ham-burger {
  display: none;
  color: white;
}

/* Banner section left */
.banner {
  display: flex;
  margin: 0 133px;
  column-gap: 82px
}

.banner-text {
  padding-top: 45px;
  max-width: 364px;
}

.banner-text h1 {
  font-size: 3.41rem;
  font-weight: 900;
  color: white;
  line-height: 100%;
}

.banner-text p {
  margin: 1.22rem 0;
}

.banner-text i {
  font-size: 3rem;
  font-weight: 200;
}

.btn1 {
  width: 157px;
  height: 38px;
  border-radius: 1.84rem;
  background: rgb(230, 83, 60);
  border: 1px solid rgb(230, 83, 60);
  font-size: .79rem;
  font-weight: 600;
  color: white;
}

.btn2 {
  width: 157px;
  height: 38px;
  border-radius: 1.84rem;
  background: rgb(59, 57, 57);
  border: 1px solid grey;
  font-size: .79rem;
  font-weight: 600;
  color: white;
}

/* Banner section right */
.banner-image {
  position: relative;
}

.five-hundred {
  top: 40%;
  left: 90%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  border-radius: .75rem;
  position: absolute;
  padding: 10px 20px 10px 10px;
  transform: translate(-50%, -50%);
}

.plus {
  font-size: 28px;
  font-weight: 900;
  text-align: left;
  color: white;
  margin-bottom: 5px;
}

.plus-text {
  top: 30%;
  left: 90%;
  width: 102px;
  font-size: 9px;
  text-align: left;
  color: rgba(255, 255, 255, 0.65)
}

.three-hundred {
  display: flex;
  column-gap: 8px;
  align-items: center;
  padding: 10px 15px 10px 10px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: .75rem;
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.circle-red {
  width: 28px;
  height: 28px;
  border: 1px solid rgb(230, 83, 60);
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
}

/* change your habits section*/
.change-habit {
  text-align: center;
  margin: 50px 133px;
}

.habit-text {
  margin-bottom: 38px;
}

.habits {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.habit img {
  border-radius: 50%;
}

/* run extra mile section */
.extra-mile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 133px;
  padding: 20px;
  background-color: rgb(57, 56, 56);
  border: 1px solid rgb(57, 56, 56);
  border-radius: 13px;
}

.extra-mile-text>h3 {
  padding-bottom: 20px;
}

.extra-mile-text>p {
  padding-bottom: 20px;
}

.extra-mile-image img {
  border-radius: 13px;
}

/* BMI calculator text section */
.calculator-text {
  margin: 62px 300px;
}

.calculator-text>h3 {
  padding-bottom: 13px;
}

/* BMI Calculator table section */
td,
th {
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 13px;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: darkgrey;
}

/* BMI Calculator chart section */
.calculator-bmi {
  display: flex;
  background-color: rgb(86, 82, 82);
  column-gap: 30px;
  padding-top: 34px;
}

.bmi-chart {
  max-width: 50%;
  margin-left: 132px;
}

.bmi-calculation {
  max-width: 50%;
  margin-right: 70px;
}

.bmi-calculation>h4 {
  margin-bottom: 10px;
}

.bmi-calculation>p {
  margin-bottom: 24px;
  padding: 0 70px 0 0;
}

.bmi-chart>h4 {
  padding-bottom: 35px;

}

.bmi-calculation-field {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 24px;
}

.field-row {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 34px;
  width: 197px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 5px;
}

.field-row::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#activity-factor {
  width: 404px;
}

/* meet our team section */
.our-team {
  margin: 50px 133px;
}

.our-team-text {
  text-align: center;
  padding: 12px 137px;

}

.trainers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 13px;

}

.trainer-image {
  position: relative;

}

.trainer-image img {
  width: 100%;
  height: 100%;
  border-radius: 13px;
}

.trainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Responsive layout for mobile devices */

@media screen and (max-width:576px) {
  .menus {
    display: none;
  }

  .ham-burger {
    display: block;
  }

  .banner {
    flex-direction: column;
    margin: 0 100px;
  }

  .banner-text h1 {
    font-size: 1.6rem;
    color: white;
    line-height: 150%;
  }

  .banner-text i {
    font-size: 1.6rem;
  }

  .banner-btn {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
  }

  .btn1 {
    width: 90px;
    height: 25px;
    border-radius: 1.84rem;
    background: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
    font-size: .50rem;
    font-weight: 600;
    color: white;

  }

  .btn2 {
    width: 90px;
    height: 25px;
    border-radius: 1.84rem;
    border: 1px solid grey;
    font-size: .50rem;
    font-weight: 600;
    color: white;
  }

  .change-habit {
    text-align: center;
    margin: 0 100px;
  }

  .habits {
    flex-direction: column;
    row-gap: 10px;
  }

  h3 {
    font-weight: 900;
    Font-size: 24px;
    color: white;
  }

  .extra-mile {
    flex-direction: column;
    margin: 100px;
    row-gap: 10px;
  }

  .calculator-text {
    margin: 20px 100px;
    text-align: start;
  }

  .calculator-bmi {
    display: flex;
    flex-direction: column;
    background-color: rgb(86, 82, 82);
    row-gap: 20px;
  }

  .bmi-calculation-field {
    display: grid;
  }

  .field-row {
    height: 34px;
    width: 140px;
  }

  #activity-factor {
    width: 295px;
  }

  .bmi-calculation {
    max-width: 100%;
    padding-left: 100px;
  }

  .bmi-calculation>h4,
  .bmi-chart>h4 {
    font-size: 15px;
  }

  .our-team {
    margin: 10px;
  }

  .our-team-text {
    text-align: center;
    padding: 20px;

  }

  .trainers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;

  }

}